<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951069774280-at2kafhams81a6uc4bidi81var2rfhi4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951069774280-at2kafhams81a6uc4bidi81var2rfhi4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>951069774280-776570j92ivn6qkepsl55fb800qk8gq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqyQmLdkaRIiz_ScQwsRqC6EX4VXbVDcg</string>
	<key>GCM_SENDER_ID</key>
	<string>951069774280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xrayanalizer.development</string>
	<key>PROJECT_ID</key>
	<string>x-ray-analizer-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>x-ray-analizer-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951069774280:ios:29058ff350eb4e86ddb0fd</string>
</dict>
</plist>